{include file="../../../application/admin/view/public/head" /}
<div class="page-container p10">
    <h2 style="font-size:18px;font-weight:600;color:#1e9fff;margin:4px 0 14px;">&#x64ad;&#x653e;&#x6e90;&#x91cd;&#x547d;&#x540d;</h2>
    <form class="layui-form" method="post" action="">
        <input type="hidden" name="__token__" value="{$Request.token}" />
        <table class="layui-table" lay-size="sm">
            <thead><tr><th style="width:260px;">key</th><th>value</th></tr></thead>
            <tbody>
            {volist name="list" id="vo"}
            <tr>
                <td>{$vo.from}</td>
                <td><input type="text" name="show[{$vo.from}]" value="{$vo.show}" class="layui-input"></td>
            </tr>
            {/volist}
            </tbody>
        </table>
        <div class="layui-form-item center">
            <button type="submit" class="layui-btn" lay-submit="">&#x4fdd;&#x5b58;</button>
        </div>
    </form>
</div>
{include file="../../../application/admin/view/public/foot" /}
<script type="text/javascript">layui.use(['form'], function () { var form = layui.form; });</script>
</body>
</html>
